<div id="somePizza"><p id="somePizzaName"><%= pizza.title %> <% if(size=="small_size") { %>(Мала)<% }%> <% if(size=="big_size") { %>(Велика)<% }%> </p><img src="<%= pizza.icon %>" id="somePizzaImg">
    <div class="sizeAndWeight"><span class="size" id="somePizzaSize"><img src="assets/images/size-icon.svg" class="imgSize"><%= pizza[size].size %></span>
    <span class="weight" id="somePizzaWeight"><img src="assets/images/weight.svg" class="imgWeight"><%=pizza[size].weight %></span></div>
<div class="buttonsAndCounter"><div class="priceCounter">
    <span class="price" id="somePizzaPrice"><%= pizza[size].price %> грн.</span>
    <button class="minus"><i class="iconMinus">-</i></button>
    <span id="counterBetweenIcons" id={{idAmount}}><%= quantity %></span>
    <button class="plus">+</button>
    <button class="cross">x</button></div>
</div>

</div>