<%

function getIngredientsArray(pizza) {
        //Отримує вміст піци
           var content = pizza.content;
            var result = [];
            
            //Object.keys повертає масив ключів в об’єкті JavaScript
            
            Object.keys(content).forEach(function(key){
                
                //a.concat(b) створює спільний масив із масивів a та b
                      result = result.concat(content[key]);
                        });
                      
                      return result;
                    }
                      
                      %>
                      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                          <div class="thumbnail pizza-card">
                              <img src="<%= pizza.icon %>">
                            
                            <div class="caption"><h3 class="title"><% if(pizza.is_new) { %><span id="New"  class="New label label-danger">Нова</span><% } else if(pizza.is_popular) {%><span id="pop" class="pop label label-success">Популярна</span><% } %><%= pizza.title %></h3>
                                <div class="textCaption"><h6 class="greyType"><%= pizza.type %></h6>
                                    <p class="ingredients"> <%= getIngredientsArray(pizza).join(", ") %></p></div>
                                    <div class="columns">
                                        <% if(pizza.has_small) { %>  <div class="firstColumn">
                                        <div class="size"><img src="assets/images/size-icon.svg" class="imgSize"><%=pizza.small_size.size %></div>
                                        <div class="weight"><img src="assets/images/weight.svg" class="imgWeight"><%=pizza.small_size.weight %></div>
                                        <div class="price-primary"><%=pizza.small_size.price%></div>
                                        <div class="grn">грн.</div>
                                        <button href="#" id="small"  class="btnbtn-primary">Купити</button>
                                    </div> <% } %>
                                    <% if(pizza.has_big) { %>  <div class="secondColumn">
                                        <div class="size"><img src="assets/images/size-icon.svg" class="imgSize"><%=pizza.big_size.size %></div>
                                        <div class="weight"><img src="assets/images/weight.svg" class="imgWeight"><%=pizza.big_size.weight %></div>
                                        <div class="price-primary"><%=pizza.big_size.price%></div>
                                        <div class="grn">грн.</div>
                                        <button href="#" id="big"  class="btnbtn-primary">Купити</button>
                                    </div> <% } %>
                                </div></div>
                            </div>
                                    </div>